.app {
  font-family: sans-serif;
  text-align: center;

  &__expl {
    color: steelblue;
  }

  &__tit {
    color: tomato;
  }

  &__subtitle {
    color: steelblue;
  }

  &__div1_extension {
    color: steelblue;
  }
}
