@use "@src/inner/variables.scss";
@use "@src/inner/mixins.scss";

.another-class {
  color: orange;
}

.child {
  &__div1 {
    composes: some-class from "@src/inner/sample.module.scss";
    // @include mixins.important-text; // This works!
  }

  &__div2 {
    color: variables.$green;

    &_open {
      color: variables.$green;
    }
  }
}

.-aaa {
  color: aliceblue;
}
